body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    /*background: '#f8f9fa';*/
}
h1 {
    padding: 20px 0;
}
.updatePage {

}
.titre-glow {
    color: #b46cff;
    text-shadow:
            0 0 2px #9196ff,
            0 0 1px #c953ff,
            0 0 1px #78b4ff;
}
.dark-mode {
    background-color: #181824 !important;
    color: #fff !important;
}

.dark-mode .navbar,
.dark-mode .container,
.dark-mode .page,
.dark-mode footer {
    background-color: #181824 !important;
    color: #fff !important;
}

.dark-mode .nav-link,
.dark-mode h1,
.dark-mode h4,
.dark-mode p,
.dark-mode small {
    color: #fff !important;
}